<h1 align='center'>This is my web scraper Home page<h1>

<ol align='center' class='instruction_li'>
  <li>To get started;
  <li>signup</li>
  <li>Submit your items you want to be price monitored</li>
</ol>
