<h1 align='center'>Price Monitoring Instructions:</h1>

<ol align='center' class='instruction_li' style="list-style-type: none">
  <li>Signup/Login</li>
  <img class='arrow_img' src="/assets/down-arrow.png">
  <li>Click 'New URL' located in the navbar</li>
  <img class='arrow_img' src="/assets/down-arrow.png">
  <li>Enter the items URL and click 'Submit'</li>
  <img class='arrow_img' src="/assets/down-arrow.png">
  <li>Your item/items are now being tracked</li>
</ol>
