/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$sans: "Source Sans Pro", Helvetica, Arial, sans-serif;

//HELP-PAGE

.instruction_li {
  font-size:30px;
  padding: 0px;
}

.arrow_img {
  height: 60px;
  width: 60px;
  margin: 10px;
}

//PRICE-MONITOR-TITLE

.logo {
  margin-top: 500px;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 2px;
  text-transform: lowercase;
  font: 300 2.9em $sans;

  a{
    display: block;
    padding: .65em 0;
    color: #8c8c8c;
    text-decoration: none;
    transition: .15s linear color;

    &:hover{
      color: #333333;
      span{ color: #333333; }
    }
  }

  span{
    font-weight: 700;
    transition: .15s linear color;
  }
}

//NAV-BAR

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 10px 0;
}

nav ul {
  padding: 0;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font: $sans;
  color: #8c8c8c;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #533333;
}

//UNIVERSAL-FLASH-NOTICE

.alert {
  margin: 0px;
}

//UNIVERSAL-HEADER

h1 {
  background-color: white;
  padding: 30px;
  font-size: 30px;
  margin: 0 auto;
  font: $sans;
  font-weight: bold;
  margin-bottom: 20px;
}

//PRICE-CHECK-ICON

.check_price_button {
  border: 1px;
  margin-top: .7%;
}

.refresh_img {
  height: 65px;
  width: 65px;

  &:hover{
    border-radius: 50%;
    animation: spin 1.5s 1 linear;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: #533333;
  }
  &:active {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

//PRODUCTS-GROUPING-CONTAINER

.container {
  padding: 0px;
  max-width: 900px;
  margin: 0 auto;
}

//WEBSITE-HEADER

.product_item_header {
  padding-bottom: 3px;
  width:90%;
  text-align: center;
  font-size: 2em;
  overflow:hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom:2px solid #333333;
  font-weight: 700;
  margin-top: 2.5%;
  margin-bottom: 1.5%;
  color: #333333;
}

//EACH-PRODUCT-INFORMATION

.product_list_div {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  display:inline-block;
}

.product_list_ul {
  padding: 0px;
}

.product_details_li {
  margin:0;
  color: black;
}

.sale_price_li {
  font-size: 1.7em;
  color: red;
}

.product_img {
  max-width:325px;
  max-height:350px;
  width: auto;
  height: auto;
  border-radius: 20px;
}

// FOOTER
.footer_p {
  font-color: black;
  font-size: 19px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  font-weight: normal;
}
