<h1 align='center'>Product URL page</h1>

<div align='center'>
  <%= form_for :product, url: { action: "create" }, method: "post" do |f| %>
    Product URL: <%= f.text_field :product_url %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
